.page{
    background: #cdf9ff;
    width: 100%;
    height: 100%;
}

.example-full-width {
    width: 100%;
  }

.areaCentrilizeInput{
    padding-top: 50px;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputArea{
    width: 400px;
    background-color: white;
    box-shadow: 2px 2px 0px #FFFFFF, 10px 6px 0px rgba(0,0,0,0.15);;
    box-sizing: border-box;
    padding: 2rem;
}

.headerUser{
    text-align: center;
    background-color: #65edff;
    h1{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 300%;
        color: #333333;
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
    }
}


.buttonSave{
    margin-left: 10%;
}