<!DOCTYPE html>
<html>
<head>
<title>Início</title>
</head>
<body class="page">
    <div class="headerUser">
        <H1>CADASTRO DE USUÁRIO</H1>
    </div>
    <div class="areaCentrilizeInput">
        <div class="inputArea">
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Ex. Higor">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Idade</mat-label>
                <input matInput placeholder="Ex. 21">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Setor</mat-label>
                <input matInput placeholder="Ex. RH">
            </mat-form-field>
            <button mat-raised-button color="primary" class="buttonSave">Cadastrar</button>
        </div>
    </div>
</body>
</html>