.page{
    background: #83ecff;
    width: 100%;
    height: 100%;
}

.example-full-width {
    width: 100%;
  }

.inputArea{
    width: 400px;
    background-color: white;
    box-shadow: 2px 2px 0px #FFFFFF, 10px 6px 0px rgba(0,0,0,0.15);;
}